definitions:
  types.Response-any:
    properties:
      code:
        type: integer
      data: {}
      message:
        type: string
      timestamp:
        type: integer
    type: object
info:
  contact: {}
  description: This is a sample server celler server.
  title: Go App Layout API
  version: "1.0"
paths:
  /db/ping:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: Db Ping
          schema:
            $ref: '#/definitions/types.Response-any'
      summary: Db Ping
      tags:
      - db
swagger: "2.0"
